body {
    background-color: azure;
    font-family: 'Times New Roman', Times, serif;
}

img {
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0px 2px 4px;
}

#toggleButton {
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
}

#fotoHome {
    margin: auto;
}

.card {
    background-color: azure;
}